{
  "extends": "airbnb-base",
  "rules": {
    "indent": [2, 4],
    "strict": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "no-plusplus": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "class-methods-use-this": 0,
    "prefer-destructuring": 0
  },
  "parserOptions": {
    "ecmaVersion": 2015
  }
}
